##############################################
### Ignore everything that Eclipse creates ###
##############################################

# Directories #
.metadata/
.settings/

# Files #
*.classpath
*.project
*.DS_STORE
*.pdf